
@{ ViewBag.Title = "University Teachers"; }

<h2 align="center">Teachers Table</h2>

<br />

<div class="d-flex flex-row">
    <div class="mr-3  d-flex flex-column">
        <a href="Teacher/Professors/"><span class="prof"></span></a>
        <h3 class="mt-1 pl-5">Professors</h3>
    </div>
    <div class="mr-3 d-flex flex-column">
        <a href="Teacher/ScienceCandidates/"><span class="cand"></span></a>
        <h3 class="mt-1">Science Candidats</h3>
    </div>
    <div>
        <a href="Teacher/Aspirants/"><span class="aspir"></span></a>
        <h3 class="mt-1">Aspirants</h3>
    </div>
</div>

</br>

