@model List<University.Models.Teacher>
@{ViewBag.Title = "Professors Table";}

<div class="back">
    <strong>
        @Html.ActionLink("Back", "Index")
    </strong>
</div>

<table border="2" align="center">
    <tr>

        <td><strong>LastName</strong></td>
        <td><strong>FirstName</strong></td>
        <td><strong>Subject</strong></td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
    <td>@item.Id</td>
    <td>@item.LastName</td>
    <td>@item.FirstName</td>
    <td>>Show Details</td>

     </tr>}
</table>

</br>

<div>

    <div class="form-group">
        <input type="submit" class="btn btn-default border border-dark c-light font-weight-bold" id="addteacher" value="Add new teacher" />
    </div>

</div>

